* {
   /* el asterisco le da esa propiedad a todos
   los elementos que no tengan asignada esa propiedad
   */
    color: blueviolet
}

p, span {
    color: red;
    width: 300px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: grey;
    border: 1px solid black;
    padding: 5px;
    margin: 30px;
    margin-top: 40px;
    margin-bottom:20px;
    margin-left:10px;
    margin-right: 10px;
    /*padding-top:20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
    Va arriba a la derecha abajo y a la izquierda cuando
    lo pongo todo junto, en el sentido de las agujas del reloj*/
    padding: 30px 15px 25px 20px;
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

#mi_parrafo {
    color:blue;
    border: solid 1px orangered;
    font-size: 23px;
}

/*las clases se hacen para generalizar el formato css a lo que
forme parte de la clase, Repetir estilos a muchos elementos.
Se pone en nombre de html el atributo class=nombredelaclase
*/
.estaesmiclase {
    font-weight: bold;
    color: lightseagreen;
}

/**
Lo siguiente es para buscar todos los elementos section que adentro 
tengan un h1 y darle formato a esos elementos en particular*/

section h1 {
    font-weight: 100px
}

/*
TIPOGRAFIAS EN FONTS.GOOGLE.COM
*/